@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

html {
  
    background-image:linear-gradient(to top, burlywood,rgb(238, 206, 164));
 
}

body {
    margin: 10%;
}

.sidebar {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, burlywood,rgb(238, 206, 164) ) ;
    overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttonmenu {
 transition: transform 0.3s ease;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttonmenu:hover {
transform: translatex(5px);
}

a {
    
    padding: 20px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Story Script",sans-serif;
    color: black;
    display: block;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
     
}

a:hover {
    color: blanchedalmond;
}
article {
    margin-left: 8%;
    background-color: white;
    border-style: solid;
    border-color: whitesmoke;
    height: 100%;
    width: 75vw;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
font-family: sans-serif;
    text-align:left;
}
.phomepg {
    text-align: center;
}

h1, h2 {
    font-family: "Story Script", sans-serif;
    text-align: center;
}


fieldset {
    border: dotted 2px burlywood;
    padding: 3%;
    
}
form {
    margin: 3%;
    padding: 1%;
    font-family: sans-serif;
}
textarea {
    width: 100%;
    height: 500px;
    font-family: sans-serif;
}
input {
    width: 100%;
    height: 25px;
}
input[type="submit" i] {
    background-color: burlywood;
    border: solid 2px blanchedalmond;
    height: 50px;
    font-family: sans-serif;
    font-size: large;
}

.note {
        height: 9%;
        width: 8%;
        margin: 2%;
        padding: 5%;
        border: 2px groove;
        border-radius: 25px;
        transition: transform 0.3s ease; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: whitesmoke;
    
}
.note:hover {
    transform: translatey(-5px);
    color: black;
}
h3 {
    text-align: center;
    font-family: 'Story Script';
    font-size: 100%;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 25%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 25px;
margin: 1%;
}
.workimg {
     display: flexbox;
    justify-content: center;
    align-items: center;
}